html {
    scroll-behavior: smooth;
}


    body {
        background-color: #dedede;
        padding: 5px;
        margin: 15px;
        font-size: 25px;
        font-family: Arial, sans-serif;
    }


h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.95em;
}

h2 {
    text-align: center;
}

li {
    margin-top: 20px;
}

.img-figure {
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
}

.label {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

figcaption {
    text-align: center;
}

.grid {
    gap: 10px;
}

@media (min-width: 772px) {
    .img-figure {
        border-radius: 50%;
        border-color:pink;
    }
    .col-md-6:last-child {
        grid-column: span 2;
        align-content: center;
    }
}

@media (min-width: 992px) {
    .img-figure {
        border-radius: 0;
        border-color:red;
    }

    .col-lg-4:nth-of-type(3n) {
        grid-column: span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

/*@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #ddd;
    }

    .img-figure {
        background-color: #222;
        color: #fff;
        border-color: #000;
    }

    .figure-caption {
        color: #ffd700;
    }
}*/
